<ol>
    <li>Lovin TimerMachine? Is it useful? Then do <span><script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="henryGuy" data-color="#FFDD00" data-emoji=""  data-font="Bree" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script> to support the project, and allow me to enhance the features. Would love to have you along for the wild time ride!</li>
    <li>TimerMachine is in Beta. It's Evolving. Enhancements are happening usually multiple times a day on a continouous delivery, continous improvement process. -even more so as we use TimerMachine all the time ourselves! </li>
</ol>

