<!-- Refference from timer app. note: tailwind not bs. should convert easily: same sort of shiz. -->

<div className="flex flex-row  baseWhite h-12 mt-2 mx-2 mb-4 border-b border-neutral-600">

<!-- logo text -->
<div className="text-4xl text-amber-600">
    <span className="text-4xl">T</span>
    <span className="text-[28px] -ml-[2px]">ime</span>
    <span className="text-5xl align-text-top text-green-600">®</span>
    <span className="text-[26px]">Machine</span>
  </div>

 <!-- nav items  -->  
  <ul className="flex ml-12 mt-4">
    <li className="mr-8">
      <Link to="/" className="text-greem-500 hover:text-green-500">
        Timer
      </Link>
    </li>
    <li className="mr-8">
      <Link to="/features" className="text-greem-500 hover:text-green-500">
        Features
      </Link>
    </li>
    <li className="mr-8">
      <Link to="/artists" className="text-greem-500 hover:text-green-500">
        Artists
      </Link>
    </li>
    <li className="mr-8">
      <Link to="/subscribe" className="text-greem-500 hover:text-green-500">
        Login/Register
      </Link>
    </li>
  </ul>

</div>