---
layout: page
# The Single (timer) page layout
---

{% include lang.html %}

<h2 id="features">
  <span class="mr-2">Single Timer</span>
</h2>

<div class="single-timer-app"></div>
<!-- timer='t=%7B"direction"%3A-1%2C"chainAction"%3A""%2C"hasInterval"%3Afalse%2C"timer"%3A%7B"name"%3A"from%20props"%2C"h"%3A""%2C"m"%3A""%2C"s"%3A""%2C"hasAlert"%3Atrue%2C"alert"%3A"1"%2C"hasAnnounce"%3Afalse%2C"announce"%3A"say%20what%3F"%2C"hasEndPlaylist"%3Afalse%2C"endPlaylist"%3A""%2C"hasStartPlaylist"%3Afalse%2C"startPlaylist"%3A""%2C"hasPlayDuringUrl"%3Afalse%2C"playDuringUrl"%3A"https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DNrUIJY_Xu2s"%2C"hasEndPlayUrl"%3Afalse%2C"endPlayUrl"%3A"https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DfjM1-kzMs8A"%7D%2C"interval"%3A%7B"name"%3A"interval"%2C"h"%3A""%2C"m"%3A""%2C"s"%3A""%2C"hasAlert"%3Afalse%2C"alert"%3A1%2C"hasAnnounce"%3Afalse%2C"announce"%3A""%7D%7D' -->

{{ content | markdownify }}

<div id="yt-player"></div>
{% if paginator.total_pages > 0 %} {% include post-paginator.html %} {% endif %}
